/* Define custom colors */
:root {
  --dark-olive-color: #182011;
  --lime-green-color: #d4ff6d;
  --light-purple-color: #976bff;
  --mid-grey-color: #a9a9a9;
  --light-grey-color: #e3e2e2;
  --white-color: #ffffff;
  --nav-height: 54px;
  --breadcrumb-height: 66px;
  --adjusted-VH: calc(100vh - var(--nav-height) - var(--breadcrumb-height));
}

.semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: var(--dark-olive-color);
  padding-top: var(--nav-height);
}

.bg-dark-olive {
  background-color: var(--dark-olive-color);
}

.text-white {
  color: white;
}

.text-purple {
  color: var(--light-purple-color);
}

/* #################################################################### ----- BREAKPOINT INDICATOR */
#breakpoint-indicator {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  padding: 0px;
  color: hsla(10, 100%, 50%, 0.5);
}

/* #################################################################### ----- NAV & LOGO */

/* DNA logo */
.cls-1 {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  /* stroke-width: 1.92px; */
}

/* initial logo text ("invisible") */
#logo-text {
  color: var(--dark-olive-color);
}

/* animate-text */
.animate-text {
  opacity: 0;
}

.nav-link {
  color: white;
}

.navbar .nav-link.active {
  color: var(--lime-green-color);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='square' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.cls-1 {
  stroke-width: 1.7;
}

.navbar-nav {
  text-align: right;
}

.navbar .navbar-nav .nav-link {
  padding-right: 13px;
}

.cart {
  height: 25px;
  width: 25px;
}

/* #################################################################### ----- FOOTER */

.footer h5 {
  line-height: 32px;
  margin-bottom: 0px;
}

.footer li {
  font-weight: 200;
  line-height: 1.7;
  margin-bottom: 10px;
}

.copyright {
  font-size: 14px;
}

.footer-logo-text {
  font-size: 2.5em;
}

.company-email {
  color: var(--light-purple-color);
  text-decoration: none;
  font-weight: 800;
}

.logo-address-comms p {
  margin: 0;
}

/* Resetting default link styles */
.footer-links a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

.footer a:hover,
.nav-item a:hover {
  color: var(--light-purple-color);
}

/* #################################################################### ----- HEROS */

.home-hero-1 {
  background-image: url("images/hero_home_1.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  min-height: 400px;
  height: calc(100vh - var(--nav-height));
}

@media (max-width: 992px) {
  .home-hero-1 {
    height: calc(100svh - var(--nav-height));
  }
}

.call-to-action {
  color: var(--light-purple-color);
  text-decoration: none;
}

.hero-feature-story {
  background-image: url("images/hero_home_feature.jpg");
  /* filter: grayscale(100%); */
  mix-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: left;
}

/* WHITE BACKGROUND */
.wbg,
.wbg .hero-feature-story {
  background-color: white;
  mix-blend-mode: normal;
}

@media (max-width: 575px) {
  .hero-feature-story {
    background-position-x: -250px;
  }
}

.story-preview {
  background-color: white;
  min-width: 50%;
}

.story-contstrain {
  max-width: 300px;
}

.read-more {
  text-align: right;
}

.blur-background {
  filter: blur(8px);
  transition: filter 1s ease-out;
}

.visible {
  filter: blur(0);
}

.carousel-item img {
  max-height: 80vh;
  min-height: 50vh;
  object-fit: cover;
}

.carousel-inner {
  position: relative;
}

.overlay-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--dark-olive-color);
  mix-blend-mode: lighten;
  z-index: 1;
}

/* #################################################################### ----- Carousel */
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(24, 32, 17, 0),
    65%,
    rgba(24, 32, 17, 1)
  );
  z-index: 0; /* Behind the caption */
}

.carousel-caption {
  z-index: 2; /* Ensure it's above the gradient overlay */
  padding-bottom: 0;
  bottom: 0;
}

.carousel-item img {
  object-position: top;
}

/* Privacy policy ##############################################################*/

/* .hero-container {
  position: relative;
  height: 75vh;
} */

.image-layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.base-layer {
  background-color: var(--light-purple-color);
  mix-blend-mode: screen;
}

.lighten {
  mix-blend-mode: lighten;
}

.overlay1 {
  background: linear-gradient(
    to bottom,
    rgba(24, 32, 17, 1),
    rgba(24, 32, 17, 0)
  );
}

.overlay2 {
  /* min-height: 50vh; */
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  mix-blend-mode: lighten;
  max-width: 50vw;
}

/* HERO TEXT */
.text-layer {
  position: absolute;
  right: 5vw;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  max-width: 50%;
  text-align: left;
}

@media (max-width: 768px) {
  .overlay2 {
    background-size: contain;
    background-size: 50vh;
    background-position: top;
    max-width: 100vw;
  }

  .text-layer {
    top: 75%;
    right: 50%;
    text-align: center;
    transform: translatex(50%);
  }
}

.bw {
  filter: grayscale(100%);
}

/* Adding margin to top of policy headings*/
.privacy-policy h4 {
  margin-top: 1.5em;
  /* margin-bottom: 1em; */
}

.privacy-policy p,
.privacy-policy li {
  line-height: 2;
}

/* #################################################################### ----- Dividers */

.divider {
  min-height: 13vh;
  filter: grayscale(100%);
  min-width: 100%;
  mix-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  margin-top: 60px;
}

.divider-1 {
  background-image: url("images/verdantAureya_small.jpeg");
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .divider-1 {
    background-size: 200%;
  }
}

.divider-2 {
  background-image: url("images/tron_keyboard.png");
  filter: none;
  background-position-y: 40%;
  mix-blend-mode: lighten;
  /* z-index: 0; Higher z-index than purple-overlay */
}

.divider-3 {
  background-image: url("images/hero_home_feature.jpg");
}

.divider-4 {
  background-image: url("images/hero_shipping_2.jpeg");
  /* filter: none; */
  padding-top: 30.19%;
}

.divider-5 {
  background-image: url("images/divider_bokehflower.jpeg");
}

.divider-6 {
  background-image: url("images/divider_blossomCascade.jpeg");
}

.divider-7 {
  background-image: url("images/divider_accounts.jpeg");
  mix-blend-mode: lighten;
  background-position-y: 20%;
}

.purple-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--light-purple-color);
  mix-blend-mode: screen;
  /* z-index: 1; Lower z-index */
}

.gradient-purple-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(24, 32, 17, 1),
    var(--light-purple-color)
  );
}

.hero-ship {
  mix-blend-mode: lighten;
  max-height: var(--adjusted-VH);
  width: 100%;
  object-fit: cover;
  object-position: top;
}

@media (max-width: 768px) {
  .hero-ship {
    max-height: 60vh;
  }
}

.hero-shipping-container {
  max-height: var(--adjusted-VH);
}

.lock {
  object-fit: contain;
}

.shipping-overlay {
  width: 100%;
  height: 100%;
  /* max-height: 100svh; */
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(24, 32, 17, 0) 0%,
    rgba(24, 32, 17, 0) 50%,
    rgba(24, 32, 17, 1) 100%
  );
}

@media (min-width: 768px) {
  .shipping-overlay-2 {
    width: 100%;
    height: 100%;
    /* max-height: 100vh; */
    top: 0;
    left: 0;
    background: linear-gradient(
      to bottom right,
      rgba(24, 32, 17, 0) 0%,
      rgba(24, 32, 17, 0) 50%,
      rgba(24, 32, 17, 1) 90%
    );
  }
}

hr {
  opacity: 1;
  height: 1px;
  border: none;
  background-color: var(--light-grey-color);
}

/* #################################################################### ----- Breadcrumb */

.breadcrumb {
  margin-bottom: 0;
  padding: 10px 0px 10px 0px;
}

.breadcrumb .container {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid var(--light-purple-color);
  min-height: 50px;
  color: white;
}

.breadcrumb .container h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.breadcrumb-light {
  background-color: white;
  color: var(--dark-olive-color);
}

.breadcrumb-light .container {
  color: var(--dark-olive-color);
}

.breadcrumb-link {
  text-decoration: none;
  color: var(--mid-grey-color);
}

.breadcrumb-link:hover {
  color: var(--light-purple-color);
}

/* #################################################################### ----- Genera */

.genera-category-container {
  position: relative;
  height: 300px;
}

.genera-category-text {
  position: absolute;
  bottom: 0;
  z-index: 2;
  /* backdrop-filter: blur(5px); */
}

.genera-category-image {
  position: absolute;
  height: 100%;
  width: 500px;
  z-index: 0;
}

.light-horisontal-overlay {
  position: absolute;
  height: 100%;
  width: 500px;
  left: 0;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
  z-index: 1;
}

.dark-horisontal-overlay {
  position: absolute;
  height: 100%;
  width: 500px;
  right: 0;
  background: linear-gradient(
    to left,
    rgba(24, 32, 17, 1),
    rgba(24, 32, 17, 0)
  );
  z-index: 1;
}

.genera-category-image-banksia {
  background-size: 220%;
  background-position: -350px -40px;
}

.genera-category-image-grevillea {
  background-size: 220%;
  background-position: -100px -40px;
}

.genera-category-image-grevillea {
  background-size: 220%;
  background-position: -100px -40px;
}

/* POSITION OF IMAGES LESS THAN XL */

@media (min-width: 1200px) {
  .genera-category-image-grevillea {
    background-size: 150%;
    background-position: -150px -40px;
    width: 700px;
  }

  .genera-category-image-banksia {
    background-size: 120%;
    width: 800px;
    background-position: -150px -40px;
  }

  .genera-category-image-callistemon {
    background-position: 0px -40px;
  }
}

@media (min-width: 768px) {
  .dark-horisontal-overlay {
    width: 100%;
  }

  .light-horisontal-overlay {
    width: 100%;
  }
}

/* #################################################################### ----- COMPANY.HTML */

.company-hero-container {
  background-size: cover;
  background-position: 100px 0px;
  background-repeat: no-repeat;
}

@media (min-width: 576px) {
  .company-hero-container {
    background-size: 100%;
    background-position: 180px 0px;
  }
}

@media (min-width: 768px) {
  .company-hero-container {
    background-size: 100%;
    background-position: 190px 0px;
  }
}

@media (min-width: 768px) {
  .company-hero-container {
    background-size: 100%;
    background-position: 190px 0px;
  }
}

@media (min-width: 992px) {
  .company-hero-container {
    /* BACKGROUND SIZE IS STILL AUTO */
    background-size: auto;
    background-position: 30px -20px;
  }
}

@media (min-width: 1200px) {
  .company-hero-container {
    /* BACKGROUND SIZE IS STILL AUTO */
    background-size: auto;
    background-position: 230px -30px;
  }
}

@media (min-width: 1400px) {
  .company-hero-container {
    /* BACKGROUND SIZE IS STILL AUTO */
    background-size: auto;
    background-position: 230px -30px;
  }
}

.upper-border {
  border-top: 1px solid var(--light-purple-color);
}

.lower-border {
  border-bottom: 1px solid var(--light-purple-color);
}

.card-row img {
  height: 500px;
  object-fit: cover;
}

.news .card img {
  height: 300px;
}

@media (max-width: 991px) {
  .card-row img {
    height: 400px;
  }
}

.btn {
  border-radius: 0px;
  padding: 15px 25px;
}

.btn:hover {
  background-color: var(--light-purple-color);
  border-color: var(--light-purple-color);
  color: white;
}

.card,
.card img {
  border-radius: 0px;
}

.disabled {
  border-color: grey !important;
  color: grey !important;
}
/* Doesn't look that great */
/* .card h5 {
  border-top: 1px solid #976bff;
  width: 50%;
} */

.investors img {
  height: 300px;
}

.heart {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 2;
}

.heart img {
  min-height: 30px;
  min-width: 30px;
  margin: 10px;
}

.binomial {
  font-style: italic;
}

.species-cards .card-img-top {
  object-fit: cover;
  object-position: top;
}

@media (min-width: 992px) {
  .species-cards .card-img-top {
    max-height: 350px;
    aspect-ratio: 1/1;
  }
}

/* .rowvh {
  height: 100vh;
} */

.blurb-container {
  max-width: 450px;
  /* border-left: 1px solid var(--mid-grey-color); */
}

.genera-blurb {
  font-style: italic;
  color: var(--mid-grey-color);
  font-size: 1em;
}

.species-cards .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Card hover effect */
.species-cards .card:hover {
  transform: scale(1.05);
}

/* #################################################################### ----- PRODUCT PAGES */

.product-container {
  max-width: 1000px;
}

.product-info-row {
  min-height: 100vh;
}

.quantity,
.btn-quantity-minus,
.btn-quantity-plus,
.product-container .btn {
  /* height: 100% */
  min-width: 30px;
  text-align: center;
  align-items: center;
  font-size: 1em;
  font-weight: 200;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-quantity-minus {
  border-right: none;
}

.btn-quantity-plus {
  border-left: none;
}

.quantity {
  border: 1px solid var(--dark-olive-color);
}

.heart-product-container {
  width: 30px;
}

.product-image {
  height: 100%;
  min-height: 300px;
  background-size: cover;
  background-position: center top;
}

.price {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--light-purple-color);
  padding-top: 10px;
}

.droplet {
  height: 20px;
}

.product-blurb {
  margin-top: 10px;
}

#pbr {
  /* position: absolute;
  top: 5px;
  left: 232px; */
  height: 28px;
  margin-left: 6px;
  margin-bottom: 5px;
  opacity: 0;
  transition: opacity 1s ease-in;
  transition-delay: 0.8s;
}

.form-control {
  border-radius: 0px;
  background-color: var(--dark-olive-color);
}

.wbg .form-control {
  background-color: white;
  border-color: black;
}

.form-control::placeholder {
  color: var(--mid-grey-color);
}

/* .form-control:valid {
  background-color: var(--dark-olive-color);
} */

.form-check-label {
  color: var(--dark-olive-color);
}

.form-check-input {
  border-color: var(--dark-olive-color);
  border-radius: 0 !important;
  margin-right: 5px;
}

.shipping-account-remind {
  border-left: 1px solid var(--dark-olive-color);
  padding: 5px;
  margin-top: 10px;
}

.shipping-account-remind p {
  margin-bottom: 0px;
}

.shipping-account-remind a {
  color: var(--light-purple-color);
}

.input-group-prepend,
.custom-select {
  border: 1px solid var(--dark-olive-color) !important;
  border-radius: 0px !important;
  background-color: white !important;
}

.input-group-text {
  background-color: white;
  color: var(--mid-grey-color);
  border-radius: 0px !important;
}

.privacy-remind {
  margin-top: 10px;
  padding: 5px;
  border-left: 1px solid var(--dark-olive-color);
  margin-bottom: 0px;
  font-size: 0.8em;
}

.privacy-remind p {
  margin-bottom: 0px;
}

.cart-product-image {
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cart-product-title {
  color: var(--light-purple-color);
  margin-bottom: 0;
  text-align: right;
  border-top: 1px solid var(--light-purple-color);
}

.disabled-text {
  color: grey;
}

.summary-column .row {
  margin-top: 5px;
  margin-bottom: 5px;
}

.payment-svg {
  height: 30px;
  margin-right: 10px;
}

.cc-input {
  background-image: url("svg/credit-card-regular.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 30px 30px;
}

.success-container {
  max-width: 500px;
}

.success-col-1 {
  text-align: right;
}

.success-container .row {
  margin-bottom: 10px;
}

.success-col-1 {
  padding-left: 0px;
  font-weight: 600;
}

.success-col-2 {
  padding-right: 0px;
}

.summary-column {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 85px; /* Adjust based on your header's height or desired spacing */
  align-self: flex-start; /* Helps in a flex container */
}
