body {
    background-color: lightgrey;
    background-size: 1600px;
}

header {
    background-color: rgb(38, 59, 80);
    padding: 0px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: rgb(38, 59, 80);
    padding-left: 10%;
    padding-right: 10%;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    background-color: rgb(38, 59, 80);
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
}

.topnav a:hover {
    background-color: aqua;
    color: black;
}

.text-banner {
    height: 40px;
    text-align: center;
    background-color: rgb(87, 83, 107);
}

.text-banner p {
    padding-top: 10px;
    margin-top: 0;
    color: lightgrey;
    font-size: 15px;
}

.banner-text {
    font-size: large;
    color: white;
}

.banner-image {
    background-image: url(images/5.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 100%;
    margin-top: 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    height: 600px;
    background-color: grey;
}

.column {
    float: left;
    width: 47%;
    background-color: blue;
    text-align: center;
    margin: 10px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    background-color: rgb(204, 121, 148);
    border: none;
    border: px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px rgb(164, 164, 164);
}


.light-pink-hover:hover {
    background-color: rgb(242, 143, 175);
    box-shadow: 0px 0px 2px 0px rgb(164, 164, 164);
}

.blue-button {
    background-color: rgb(25, 100, 82);
}

.light-blue-hover:hover {
    background-color: rgb(34, 138, 113);
    box-shadow: 0px 0px 2px 0px rgb(164, 164, 164);
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: rgb(230, 156, 132);
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 100;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: black;
}

.columns {
    float: left;
    width: 30%;
    padding: 8px;
    background-color: white;
    margin-top: 20%;
}

.price {
    list-style-type: none;
    border: 1px solid lightgrey;
    margin: 0;
    padding: 0;

}

.price:hover {
    box-shadow: 0 8px 12px 0 black;
}

.price .header {
    background-color: black;
    color: white;
    font-size: 25px;

}

.price li {
    border-bottom: 1px solid grey;
    padding: 20px;
    text-align: center;
}

.price .grey {
    font-size: 20px;
    background-color: lightslategrey;
}

.button-pricing {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
        margin-top: 5%;
    }
}

.parallax {
    background-image: url(images/wizard.jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content {
    background-color: black;
    color: white;
    font-size: 35px;
    margin: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 200px;

}

.scroll-text {
    font-size: 25px;
    padding-top: 30px;
    text-align: center;
}

.column-footer {
    float: left;
    color: white;
    width: 33%;
    line-height: 10px;
    padding-top: 20px;
    padding-left: 40px;
    height: 500px;
    background-color: black;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}